<div class="sticky-top pt-4">
  <h3>
    <a class="text-info" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
  </h3>
  <p>
    <a href="https://relatris.ch/uber-mich/" target="_blank" class="text-info">Relatris.ch</a></br>
    <a href="https://05-11.schlatter.net/" target="_blank" class="text-info">2011 homepage</a>
  </p>
  <p>
    <a href="https://www.linkedin.com/in/christianschlatter" target="_blank">
      <img src="{{ "/media/linkedin.svg" | relURL }}" title="linkedin" width=20px height=20px >
    </a>
    <a href="https://github.com/chschlatter" target="_blank">
      <img src="{{ "/media/github.svg" | relURL }}" title="github" width=20px height=20px >
    </a>
  </p>
</div>
